{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block main %}

<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
  </head>
  <body>

    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">ClearVoice</h1>
            <p class="lead fw-normal">Enabling deaf and hard of hearing people to access communication services effortlessly.</p></p>
            <a class="btn btn-outline-dark" href="login">Start a call</a> <br />  <br/>
            <a class="small text-muted" href="/contact">Facing any problems? Contact us </a>
          </div>
          <div class="product-device shadow-sm d-none d-md-block"></div>
          <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
      
        
        
      </main>
      <section id="about1">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <img src="static/pic1.svg/" alt="" class="w-100 img-cover">
               </div>
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#1DB9C3">Enhanced Communication</h1>
                    <p class="text-muted mt-2 fs-5">  ClearVoice facilitates 
                        seamless communication for deaf and hard of hearing individuals,
                         enabling them to express themselves effectively and connect with 
                         others more easily.
                    </p>
               </div>
          </div>
      </div>
      </section>
    


      <br/>
      <br/>
    

      <section id="about1">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#1DB9C3" >Accessibility</h1>
                    <p class="text-muted mt-2 fs-5">Our app prioritizes accessibility with
                         features like real-time captioning and speech-to-text capabilities, making it an invaluable tool 
                          for the deaf community.
                    </p>
               </div>
               <div class="col-5 col-md-5 my-1">
                <img src="static/pic2.svg/" alt="" class="w-100 img-cover">
           </div>
          </div>
      </div>
      </section>

      <br/>
      <br/>


      <section id="about1">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <img src="static/pic3.svg/" alt="" class="w-100 img-cover">
               </div>
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#1DB9C3">User-Friendly Interface</h1>
                    <p class="text-muted mt-2 fs-5">ClearVoice offers an intuitive and user-friendly
                         interface, ensuring that users of all tech levels can navigate and utilize the app
                          effortlessly.                    
                    </p>
               </div>
          </div>
      </div>
      </section>
    

  </body>
</html>
{% endblock %}